:root {
  --primary-bg: #1a202c; /* Fondo principal */
  --primary-text: #cfcfcf; /* Texto principal */
  --accent-color: #3498db; /* Color de acento */
  --hover-color: #65e0c5;
  --hover2-color: #000;
  --icon-color: #cfcfcf;
  --user-icon: #ffffff;
  --user-icon-hover: #65e0c5;
}

.bg-primary {
  background-color: var(--primary-bg);
}

.text-primary {
  color: var(--primary-text);
}

.text-hover {
  color: inherit; /* Mantiene el color original */
  transition: color 0.3s ease-in-out; /* Suaviza la transición del color */
}

.text-hover2 {
  color: #374151; /* Mantiene el color original */
  transition: color 0.3s ease-in-out; /* Suaviza la transición del color */
}

.text-hover2:hover {
  color: var(--hover2-color); /* Aplica el color definido en la variable */
}

.text-hover:hover {
  color: var(--hover-color); /* Aplica el color definido en la variable */
}

.text-accent {
  color: var(--accent-color);
}
.navbar-icon {
  color: var(--icon-color) !important;
  /* Color del ícono, ajusta según sea necesario */
}
.user-icon i {
  color: var(--user-icon) !important;
  /*Colorinicial*/
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.user-icon i:hover {
  color: var(--user-icon-hover) !important;
  /* Mismo color de los otros elementos en hover */
}
